<div class="social-media-icons">
  {% if site.footer-links.dribbble %}
  <a href="https://dribbble.com/{{ site.footer-links.dribbble }}">
    <div class="svg-icon dribbble"></div>
  </a>
  {% endif %}

  {% if site.footer-links.email %}
  <a href="mailto:{{ site.footer-links.email }}">
      <div class="svg-icon email"></div>
    </a>
  {% endif %}

  {% if site.footer-links.facebook %}
  <a href="https://www.facebook.com/{{ site.footer-links.facebook }}">
    <div class="svg-icon facebook"></div>
  </a>
  {% endif %}

  {% if site.footer-links.flickr %}
  <a href="https://www.flickr.com/{{ site.footer-links.flickr }}">
    <div class="svg-icon flickr"></div>
  </a>
  {% endif %}

  {% if site.footer-links.github %}
  <a href="https://github.com/{{ site.footer-links.github }}">
    <div class="svg-icon github"></div>
  </a>
  {% endif %}

  {% if site.footer-links.instagram %}
  <a href="https://instagram.com/{{ site.footer-links.instagram }}">
    <div class="svg-icon instagram"></div>
  </a>
  {% endif %}

  {% if site.footer-links.linkedin %}
  <a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}">
    <div class="svg-icon linkedin"></div>
  </a>
  {% endif %}

  {% if site.footer-links.pinterest %}
  <a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}">
    <div class="svg-icon pinterest"></div>
  </a>
  {% endif %}

  {% if site.footer-links.rss %}
  <a href="{{ site.baseurl }}/feed.xml">
    <div class="svg-icon rss"></div>
  </a>
  {% endif %}

  {% if site.footer-links.twitter %}
  <a href="https://www.twitter.com/{{ site.footer-links.twitter }}">
    <div class="svg-icon twitter"></div>
  </a>
  {% endif %}

  {% if site.footer-links.stackoverflow %}
  <a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}">
    <div class="svg-icon stackoverflow"></div>
  </a>
  {% endif %}

  {% if site.footer-links.youtube %}
  <a href="https://youtube.com/{{ site.footer-links.youtube }}">
    <div class="svg-icon youtube"></div>
  </a>
  {% endif %}

  {% if site.footer-links.googleplus %}
  <a href="https://plus.google.com/{{ site.footer-links.googleplus }}">
    <div class="svg-icon googleplus"></div>
  </a>
  {% endif %}

  <a href="http://www.humboldt-gym.de/">
    <div src="{{site.baseurl}}/images/hgv-logo-small.png"></div>
  </a>
</div>